<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        
        
        <h1><%=title%></h1>
        <form class="">
                <input
                    class="btn btn-outline-primary "
                    id="button-addon2"
                    action="action"
                    onclick="window.history.go(-1); return false;"
                    type="submit"
                    value="Voltar ao editor"
                />
                <input
                    class="btn btn-outline-primary "
                    id="button-addon2"
                    action="action"
                    onclick="window.history.go(-3); return false;"
                    type="submit"
                    value="Data"
                />
        </form>

        
    </div>
</main>

<footer>
    <%- include ../partials/footer %>
</footer>

</body>
</html>